.slide2 {
	background-image: url(../img/slide_2_bg.jpeg);
	background-size: auto 100%;
	background-position: center center;
}
.slide2.page_slide.slide_init {
	padding-top: 0;
	padding-bottom: 0;
}

@media screen and (orientation: portrait) {

/*
	.slide2 {
		background-size: auto 100%;
	}
*/

}

@media screen and (orientation: landscape) {

/*
	.slide2 {
		background-size: 100% auto;
	}
*/

}

@media screen and (min-aspect-ratio: 1280/854) {

	.slide2 {
		background-size: 100% auto;
	}

}

.slide2 .sidebar {
	height: 100%;
	width: 35px;
	background: rgba(0, 0, 0, 0.9);
	position: absolute;
	left: 0;
	top: 0;
	border-right: 1px solid #402e1d;
	display: none;
}

body.intro_complete .slide2 .sidebar {
	display: block;
}

.slide2 .scroll_icon {
	position: absolute;
/*	left: calc(50% - 12px);*/
	left: 0;
	right: 0;
	top: 50%;
	margin: 0 auto;
	font-family: 'Oswald', sans-serif;
	color: #f2b270;
	font-weight: 200;
	font-size: 16px;
	letter-spacing: 0.05em;
	text-align: center;
	display: none;
	transform: translateY(-50%);
}
.slide2 .scroll_icon:after {
	content: "";
	display: block;
	width: 24px;
	height: 66px;
	margin: 15px auto 0;
	background-image: url(../img/icon_scroll.png);
	background-position: center center;
	background-repeat: no-repeat;
}

.slide2 .page_slide_inner_container {
	height: 100%;
}

.slide2 .page_slide_content {
	height: 100%;
}

.slide2 .text_block {
	background: rgba(0, 0, 0, 0.9);
	padding-right: 40px;
	padding-left: 40px;
	padding-top: calc(40px + 80px);
	padding-bottom: calc(40px + 52px);
	border-right: 2px solid #f2b270;
	position: relative;
	max-width: calc(100vw - 70px);
	margin-left: 35px;
	height: 100%;
	align-content: center;
	text-align: center;
}

.slide2 .block_main_title {
	font-size: 40px;
	margin-bottom: 35px;
	position: relative;
	padding: 10px 20px;
}

.slide2 .block_main_title:before {
	content: "";
	display: block;
	background: url(../img/icon_corner.png);
	position: absolute;
	top: 0;
	left: 0;
	width: 25px;
	height: 25px;
}

.slide2 .block_main_title:after {
	content: "";
	display: block;
	background: url(../img/icon_corner.png);
	transform: rotate(180deg);
	position: absolute;
	bottom: 0;
	right: 0;
	width: 25px;
	height: 25px;
}

.slide2 .text {
/*	font-family: 'Old Standard TT', serif;*/
	color: #fff;
	font-size: 16px;
	letter-spacing: 0.05em;
	line-height: 24px;
	margin-bottom: 35px;
}

@media screen and (min-width: 768px) {

	.slide2 .text_block {
		max-width: 470px;
	}

}

@media screen and (max-width: 991px) {

	.slide2.page_slide.slide_init .page_slide_content,
	.slide2.page_slide .page_slide_part.slide_init .page_slide_part_content {
		padding: 0;
	}

}

@media screen and (min-width: 992px) {

	.slide2 .sidebar {
		width: 100px;
	}

	.slide2 .scroll_icon {
		display: block;
	}

	.slide2 .text_block {
/*		margin-top: 100px;*/
		margin-left: 100px;
		padding-top: calc(40px + 100px);
		padding-bottom: calc(40px + 52px);
	}

}
