.intro {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 3;
}

.intro .scroll_icon {
	position: absolute;
	bottom: 62px;
/*	left: calc(50% - 12px);*/
	left: 0;
	right: 0;
	margin: 0 auto;
	opacity: 0;
	font-family: 'Oswald', sans-serif;
	color: #f2b270;
	font-weight: 200;
	font-size: 16px;
	letter-spacing: 0.05em;
	text-align: center;
}
body.intro_complete .intro .scroll_icon {
	display: none;
}

.intro .scroll_icon .animated_container {
	content: "";
	display: block;
	width: 24px;
	height: 66px;
	margin: 15px auto 0;
/*
	background-image: url(../img/icon_scroll.png);
	background-position: center center;
	background-repeat: no-repeat;
*/
}
.intro .scroll_icon .animated_container img {
	transition: opacity ease 0.25s;
}
.intro .scroll_icon .animated_container img + img {
	opacity: 0;
}
.intro .scroll_icon .animated_container img.show {
	opacity: 1;
}

.intro .top {
	width: 100%;
	height: 80px;
	background: #000;
	position: fixed;
	left: 0;
	top: 0;
}

.intro .bottom {
	width: 100%;
	height: 52px;
	background: #000;
	position: fixed;
	left: 0;
	bottom: 0;
}

.intro .intro_logo_container {
	position: absolute;
	width: 400px;
	top: 0;
	left: 0;
/*	right: 0;*/
/*	margin: 0 auto;*/
	display: block;
	transition: opacity ease 0.5s;
}
.intro .intro_logo_container:hover {
	opacity: 0.6;
}

.intro .intro_logo_container img {
	opacity: 0;
}

.intro .intro_logo_container .logo_mobile {
	font-size: 27px;
	position: absolute;
	white-space: nowrap;
	top: 0;
	left: calc(100% - 20px);
	display: none;
	font-family: 'Kurale', serif;
	color: #f2b270;
	text-transform: uppercase;
}

.intro .hidden_logo_container {
	display: block;
	position: absolute;
	top: 100%;
	left: 0;
	overflow: hidden;
}

@media screen and (max-width: 991px) {

	body.intro_complete .intro .intro_logo_container .logo_mobile {
		display: block;
	}

}

@media screen and (min-width: 992px) {

	.intro .top {
		height: 100px;
	}

}

.intro .menu_button {
	display: none;
	border: 1px solid #f2b270;
	background: none;
	height: 32px;
	width: 32px;
	position: absolute;
	top: 25px;
	right: 35px;
	transform: rotate(45deg);
	overflow: hidden;
	transition: opacity ease 0.5s;
}
.intro .menu_button:hover {
	opacity: 0.6;
}

.intro .menu_button .center_icon {
	display: block;
	width: 15px;
	height: 15px;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto auto;
	position: absolute;
	transform: rotate(-45deg);
	flex-direction: column;
	justify-content: space-between;
}

.intro .menu_button .center_icon .line {
	width: 100%;
	border-bottom: 1px solid #f2b270;
	display: block;
	transform-origin: center center;
	transition:
		opacity ease 0.5s,
		transform ease 0.5s;
}
.intro .menu_button .center_icon .line + .line {
	margin-top: 5px;
}
.intro .menu_button.open .center_icon .line:nth-child(1) {
	transform: translateY(6px) rotate(45deg);
}
.intro .menu_button.open .center_icon .line:nth-child(2) {
	transform: rotate(-45deg);
}
.intro .menu_button.open .center_icon .line:nth-child(3) {
	opacity: 0;
}

@media screen and (max-width: 991px) {

	body.intro_complete .intro .menu_button {
		display: block;
	}

}

.intro .slider_dot_controlls {
	position: absolute;
	height: 100%;
	width: 100%;
	opacity: 0;
}

.intro .slider_dot_controlls li.slider_dot_controll {
	cursor: pointer;
	display: block;
	width: 10px;
	height: 10px;
	transform: rotate(45deg);
	transition: background-color ease 0.5s;
	transition: opacity ease 0.5s;
}
.intro .slider_dot_controlls li.slider_dot_controll:hover {
	opacity: 0.6;
}
.intro .slider_dot_controlls li.slider_dot_controll.active {
/*.intro .slider_dot_controlls li.slider_dot_controll:hover {*/
	background: #f2b270;
}

.intro .slider_dot_controlls li.slider_dot_controll:before {
	content: "";
	display: block;
	width: 100%;
	height: 100%;
	border: 1px solid #f2b270;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	transition:
		width ease 0.5s,
		height ease 0.5s;
}
.intro .slider_dot_controlls li.slider_dot_controll.active:before {
/*.intro .slider_dot_controlls li.slider_dot_controll:hover:before {*/
	width: calc(100% + 4px);
	height: calc(100% + 4px);
}

.intro .slider_dot_controlls li.dot_controll_decoration {
	border-bottom: 1px solid #f2b270;
	margin: 0 10px;
	width: 10px;
}

@media screen and (min-width: 992px) {

	.intro .slider_dot_controlls#page_slide5_slider_controlls {
		display: none;
	}

}
